body {
   /* font-family: "abril-fatface", "Ostrich Sans Rounded Medium", "Ostrich Sans", "Ostrich Sans Black", "Ostrich Sans Bold", "Ostrich Sans Medium", "Ostrich Sans Light", "Ostrich Sans Heavy"; */
   margin: 0;
   padding: 0;
   Background: #181818;
   
}
.container {
   margin: auto;
   background: #fff;
}
.grid {
   display: grid;
}
div .main-img {
}
.main-img img, .imgs img {
   width: 100%;
}

/* FADE-IN ANIMATION */
@keyframes fadeIn {
   to {
      opacity:1;
   }
}
.fade-in {
   opacity:0;
   animation: fadeIn 0.5s ease-in 1 forwards;
}

/* LARGE SCREENS */
@media(min-width:800px){
   .container {
      max-width: 1000px;
   }
   .main-img {
    visibility: visible;
 }
   .imgs{
     grid-template-columns: repeat(5, 1fr); 
     grid-template-rows: auto;
     grid-gap: 1px;
   }
}

