body {
   font-family: "Ostrich Sans Rounded Medium", "Ostrich Sans";
   margin: 0;
   padding: 30px;
}
h1, h2, h3 {
   margin: 0;
   padding: 0;
}
p {
   margin: 0;
   padding: 0;
}
.grid{
   display: grid;
}
img {
   display: block;
   width: 100%;
   height: auto;
}

#showcase{

}
#main{

}
section{

}
section-a {

}
section-b {
   
}
section-c {
   
}
section-d {
   
}
footer {

}
footer #main-footer {

}